.chartContainer {
  background-color: var(--secondary-dark);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--hover-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.chartContainer:hover {
  border-color: var(--accent-blue);
  box-shadow: 0 0 15px rgba(100, 255, 218, 0.15);
  transition: all 0.3s ease;
}
